*{
  padding: 0;
  margin: 0;
}
body {
  background-color: #424242;
  font-family: 'Oswald',Microsoft JhengHei;
  overflow:hidden;
  display: flex;
  flex-direction:row;
}
.rrr{
  flex:1 1 10px;
}
.main{
  flex:3 1 auto;
  display:flex;
  flex-direction:column;
}
.nav{
  position:fixed;
  top: 50%;
  left: 0;
}
.nav ul li{
  width: 10px;
  height:20vh;
  margin:0 10px;
  background-color: #AAAAAA;
  cursor: pointer;
}
.nav ul .active{
  background-color: #DDDDDD;
}
.box1 {
  width: 50vw;
  height: 40vh;
  background-color:rgba(141, 140, 140, 0.83); 
  margin:2.5vw auto 5vh 5vh;
}
.box2 {
  width: 45vw;
  height: 40vh;
  background-color: rgba(250, 250, 250, 0.83);
  margin:15vh 10vh 25vh auto;
}
.box3{
  width: 35vw;
  height:30vh;
  margin:10vh auto 20vh 35vh;
}
.content{
  float: left;
  margin:5vh 0 0 5vw;
}
.pic1{
  float: left;
  margin:5vh 0 0 5vw;
}
.pic2{
  float: right;
  margin:5vh 0 0 5vw;
}
.footer{
  width:40vw;
  height:70vh;
}
