body {
  display: flex;
  flex-direction: column;
  background-color: #424242;
  font-family: 'Oswald',Microsoft JhengHei;
  overflow:hidden;
}
#main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bottom {
  flex: 0 0 10%;
}
#name {
  flex: 1 1 10px;
}
#profile {
  width: 30vw;
  height: 20vh;
  background-color:rgba(141, 140, 140, 0.83); 
  flex: 0 0 auto;
  margin-top:5vh;
  margin-left:5vw;
  position:absolute;
}
#contact {
  width: 60vw;
  height: 45vh;
  background-color:rgba(141, 140, 140, 0.83);
  flex: 0 0 auto;
  margin-left: 35vw;
  margin-top: 35vh;
  position:absolute;
}
#pic{
  width: 70%;
  height:30vh;
  flex: 0 0 auto;
  margin-left: 20vw;
  margin-top: 110vh;
  position:absolute;
  display:none;
}
#content{
  margin:5vh 5vw;
}
