body{
background-image: url("http://i.imgur.com/I9RwIpP.jpg");
background-repeat: no-repeat;
display: flex;
flex-direction: column;
overflow-x: hidden;
}
.footer{
  font-family: 'Oswald',Microsoft JhengHei;
  left: 0;
  background-color: #FFFF77; 
  clear: both;
  height: auto;
  width: -webkit-fill-available;
  bottom: 0;
  display: flex;
  order: 3;
}
.chen{
color: #227700;
font-family: 'Oswald',Microsoft JhengHei;
font-size: 100pt;
margin:0;
}
.szyu{
color: #227700;
font-family: 'Oswald',Microsoft JhengHei;
font-size: 50pt;
margin:0;
}
.contact{
color: #009FCC;
font-family: 'Oswald',Microsoft JhengHei;
font-size: 12pt;
margin-left: 30px;
}
.first_name{
width: 135px;
height: 180px;
float: left;
margin-left: 20px;
margin-top: 10px;
order: 1;
}
.last_name{
width: 145px;
height: 130px;
float: left;
margin-left: 15px;
margin-top: 80px;
order:1
}
.content{
width: 150vw;
height: 40vh;
float: left;
margin-left: 100px;
line-height: 0.5vw;
padding-top: 10px;
padding-bottom: 10px;
order:2;
color: #227700;
font-family: 'Oswald',Microsoft JhengHei;
font-size: 15pt;
margin-bottom: 30px;
}
.main{
  flex:1 1 auto;
  width:100%;
}
.ui.cards > .card{
  height:100px;
  margin:1em auto 0;
}

